{% extends "base.html" %}
{%load static%}
{%load staticfiles%}


{%block tittle_block%}
  <title id='add_appt'>Appointments - Stepping Stones</title>
{%endblock%}


{% block body_block%}
{%load bootstrap%}

<link rel="stylesheet" href={%static "css/appt.css" %}>
<script type="text/javascript" src="{%static 'js/appt.js'%}"></script>

<hr>
  <div class="container">

{% if form.errors %}
{% for field in form %}
    {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong id="errors">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
{% endfor %}
{% endif %}

  <div class="row">
    <div class="col">
      <div class="data_input">
        <h4>Contact Information:</h4>
        <br>
        <form method="POST" id="appt_form" data-slots-url="{% url 'ajax_load_slots'%}" enctype="multipart/form-data">
        {%csrf_token%}
        {{client.email|bootstrap}}
        {{client.name|bootstrap}}
        {{client.phone|bootstrap}}
        <br>
        <br>
      </div>
    </div>
    <div class="col">

      <div class="data_input">
      <h4>Request an Appointment:</h4>
      <br>
      <p>{{form.date|bootstrap}}</p>
      <p>{{form.time|bootstrap}}</p>
      <p>{{form.location|bootstrap}}</p>
      </div>
    </div>
    <br>
    <br>
  </div>
    <div class="row">
      <div class="col">
        <h4>Send a message/Provide additional information: </h4>
        <p class="textarea">{{form.comments|bootstrap}}</p>
      </div>
      <div class="col">
        <br>
        <br>
        <br>
        <br>
        <br>
        <button type="submit" class="btn btn-primary submit">Click to Submit</button>
      </div>
      <h5>If you have any issues submitting your appointment, please email us at: <a href="mailto:steppingstonetk@gmail.com">steppingstonetk.gmail.com</h5>

    </div>
</form>
</div>

<br>
<hr>
<div class="access">

<h3>Access</h3>
<div class="row">
  <div class="left-col">

 <!--The div element for the map -->
 <div id="map"></div>
 <!--Load the API from the specified URL
 * The async attribute allows the browser to render the page while the API loads
 * The key parameter will contain your own API key (which is not needed for this tutorial)
 * The callback parameter executes the initMap() function
 -->
 <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDm7EWAyMw6rh4CBfG3Ve5x_yGt2V5D6xo&callback=initMap">
 </script>
 <p></p>
 <a href="https://www.google.com/maps/search/?api=1&query=lat=35.627353,139.726217&query_place_id=ChIJQQauxPuKGGARLCopt0jqtxg">Open in Google Maps</a>
  <!-- <a href="<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.0211793143335!2d139.72403601525735!3d35.627204380206955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188afbc4a4dbb9%3A0xc0b999e6f6990025!2z44CSMTQxLTAwMjIg5p2x5Lqs6YO95ZOB5bed5Yy65p2x5LqU5Y-N55Sw77yR5LiB55uu77yW4oiS77yT!5e0!3m2!1sja!2sjp!4v1539829513843" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>"></a> -->
</div>
<div class="right-col">
  <p>プレミアムオフィス五反田</p>
  <p>品川区東五反田1-6-3　いちご東五反田ビル３階, 308</p>
  <p></p>
  <p>Premium Office, Ichigo Building, 3rd Floor, Room 308</p>
  <p>1 Chome, 6-3 Higashigotanda, Shinagawa-ku, Tokyo 141-0022</p>

</div>
</div>
</div>
<br>



<div hidden id="schedule">
  <ul id=holiday_sect>

  {%for day in days%}
    <li> {{day.day}} </li>
  {%endfor%}
</ul>


</div>

{%endblock%}
