{% extends "base.html" %}
{%load static%}
{%load staticfiles%}


{%block tittle_block%}
  <title id='add_appt'>Appointments - Stepping Stones</title>
{%endblock%}


{% block body_block%}
{%load bootstrap%}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href={%static "css/appt.css" %}>
<script type="text/javascript" src="{%static 'js/appt.js'%}"></script>

<hr>
  <div class="container">

{% if form.errors %}
{% for field in form %}
    {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong id="errors">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
{% endfor %}
{% endif %}

  <div class="row">
    <div class="col">
      <div class="data_input">
        <h4>Contact Information:</h4>
        <br>
        <form method="POST" id="appt_form" data-slots-url="{% url 'ajax_load_slots'%}" enctype="multipart/form-data">
        {%csrf_token%}

        {{client.email|bootstrap}}
        {{client.name|bootstrap}}
        {{client.phone|bootstrap}}
        <br>
        <br>
      </div>
    </div>
    <div class="col">

      <div class="data_input">
      <h4>Request an Appointment:</h4>
      <br>
      <p>{{form.date|bootstrap}}</p>
      <p>{{form.time|bootstrap}}</p>
      <p> <i class="fas fa-info-circle"></i> For other start times, please add in Comments</p>
      <p>{{form.location|bootstrap}}</p>
      </div>
    </div>
    <br>
    <br>
  </div>
    <div class="row">
      <div class="col">
        <h4>Send a message/Provide additional information: </h4>
        <p class="textarea">{{form.comments|bootstrap}}</p>
      </div>
      <div class="col">
        <br>
        <br>
        <br>
        <br>
        <br>
        <button type="submit" class="btn btn-primary submit">Click to Submit</button>
      </div>
      <h5>If you have any issues submitting your appointment, please email us at: <a href="mailto:steppingstonetk@gmail.com">steppingstonetk.gmail.com</h5>

    </div>
</form>
</div>

<br>
<hr>

<br>



<div hidden id="schedule">
  <ul id=holiday_sect>

  {%for day in days%}
    <li> {{day.day}} </li>
  {%endfor%}
</ul>


</div>

{%endblock%}
