{% extends "base.html" %}
{%load static%}
{%load staticfiles%}


{%block tittle_block%}
  <title>Clients - Stepping Stones</title>
{%endblock%}


{% block body_block%}
{%load bootstrap%}
{%if message%}
  {{message}}
{%endif%}

{%if not form.instance.pk%}
    <h2>Create New Client</h2>
  {%else%}
    <h2>Client Update Page:  {{client}}</h2>
    <a href="{%url 'ss_app:invoice_list'%}"> <button type="button" class="btn btn-primary">Invoice List</button></a>
    <a href="{%url 'ss_app:add_invoice' client.pk %}"> <button type="button" class="btn btn-primary">Add Invoice</button></a>
  {%endif%}
<br>
<br>
  {%if upcoming_meetings%}
  <h4>Upcoming Meetings</h4>
  <ul>
    {%for meeting in upcoming_meetings%}
    <li> <a href="{%url 'ss_app:update_appt' pk=meeting.pk %}"> {{meeting.date}} at {{meeting.time}}</a></li>
    {%endfor%}
  </ul>
  {%endif%}

<form method="post">
  {%csrf_token%}
{{form|bootstrap}}
  <table class="table">
    <thead>
      <th>Meeting Date</th>
      <th>Items Discussed</th>
      <th>Follow Ups</th>
    </thead>
    <tbody>
  {{notes_formset.management_form}}
  {%for form in notes_formset%}
    <tr>
      <td>{{form.appointment}}</td>
      <td>{{form.items_discussed}}</td>
      <td>{{form.follow_ups}}</td>
      <td hidden>{{form.id}}</td>
    </tr>
    {%endfor%}
    <br>
</table>
{%if not form.instance.pk%}
    <button type="submit" class="btn btn-primary">Create Client</button>
  {%else%}
    <button type="submit" class="btn btn-primary">Update Client</button>
{%endif%}
</form>
<br>
<h3>Historical Notes</h3>
<table class="table">
  <thead>
    <th>Meeting Date</th>
    <th>Items Discussed</th>
    <th>Follow Ups</th>
  </thead>
  <tbody>
{%for note in old_notes%}
  <tr>
    <td>{{note.appointment}}</td>
    <td>{{note.items_discussed}}</td>
    <td>{{note.follow_ups}}</td>
  </tr>
  {%endfor%}
</tbody>
</table>
  <br>



<br>
<br>
{%endblock%}
