{% extends "base.html" %}
{%load static%}



{%block tittle_block%}
  <title>Clients - Stepping Stones</title>
{%endblock%}


{% block body_block%}
{%load bootstrap%}
{%if message%}
  {{message}}
{%endif%}

{%if not form.instance.pk%}
    <h2>Create New Client</h2>
  {%else%}
    <h2>Client Info Update Page:  {{client}}</h2>
  {%endif%}
<br>
<br>
  {%if upcoming_meetings%}
  <h4>Upcoming Meetings</h4>
  <ul>
    {%for meeting in upcoming_meetings%}
    <li> <a href="{%url 'ss_app:update_appt' pk=meeting.pk %}"> {{meeting.date}} at {{meeting.time}}</a></li>
    {%endfor%}
  </ul>
  {%endif%}

<form method="post">
  {%csrf_token%}
{{form|bootstrap}}
{%if not form.instance.pk%}
    <button type="submit" class="btn btn-primary">Create Client</button>
  {%else%}
    <button type="submit" class="btn btn-primary">Update Client</button>

    <a href="{%url 'ss_app:delete_client' pk=client.pk %}"> <button type="button" class="btn btn-danger">Confirm Delete</button></a>
{%endif%}
</form>
{%endblock%}
