{%load staticfiles%}
{%load static%}
{% block body_block%}
<h3>{{appt.client.name}}, </h3>
<p>Thank you for contacting Stepping Stones.  We are pleased to confirm your appointment on {{appt.date}} at {{appt.time.start_time}}.  You will be meeting with {{appt.time.assigned_to}} at
  {%if appt.location == "1"%}
    {{appt.get_location_display}} (address below).
  {%elif appt.location == 2%}
    {{appt.get_location_display}}
  {%else%}
    your preferred location.
  {%endif%}
  </p>
<p>We are looking forward to meeting you.</p>
<h3>The Stepping Stones Team</h3>


<p><img src="https://www.steppingstonestk.com/static/images/ss_logo.jpg" alt="no image"></p>
<p>Our Office Location:</p>
<p>プレミアムオフィス五反田</p>
<p>品川区東五反田1-6-3　いちご東五反田ビル３階, 308</p>
<p></p>
<p>Premium Office, Ichigo Building, 3rd Floor, Room 308</p>
<p>1 Chome, 6-3 Higashigotanda, Shinagawa-ku, Tokyo 141-0022</p>
<a href="https://www.google.com/maps/search/?api=1&query=lat=35.627353,139.726217&query_place_id=ChIJQQauxPuKGGARLCopt0jqtxg">Open in Google Maps</a>

{%endblock%}
