{% extends "base.html" %}
{%load static%}



{%block tittle_block%}
  <title>Notes - Stepping Stones</title>
{%endblock%}


{% block body_block%}
{%load bootstrap%}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.1.4/jspdf.plugin.autotable.min.js"></script>
<script type="text/javascript" src="{%static 'js/print_note.js'%}"></script>

{% if form.errors %}
{% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
{% endfor %}
{% for error in form.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
{% endfor %}

{% endif %}



<h1>Notes Update Page</h1>

<h4 id='client'> <a href="{% url 'ss_app:update_client' pk=client.pk %}">  Client: {{client.name}} </a></h4>
<!-- <h4> <a href="{%url 'ss_app:print_notes' pk=client.pk %}"> <button type="button" id="print" class="btn btn-primary">Print Notes</button></a></h4> -->
<div id="prt-btn"></div>
<h4> <button type="button" id="print" class="btn btn-primary">Print Notes</button></h4>


<p>Focus Areas:</p>
<ul>
    {%for focus in client.focus_areas.all %}
    <li>{{focus}}</li>
     {%endfor%}
</ul>

<p>Coverage:  {{client.coverage}}</p>
<div id='notes'>
<table  id="notes-table" class='table'>
  <thead>
    <th>Meeting Date</th>
    <th>Items Discussed</th>
    <th>Follow Ups</th>
  </thead>
  <tbody>
  <form method="post" >
    {%csrf_token%}
  {{formset.management_form}}
  {%for form in formset%}
  {%if form.errors%}
  <div class='alret alert-danger'>{{form.errors|escape}}</div>
  {%endif%}
    <tr>
      <td>{{form.appointment}}</td>
      <td>{{form.items_discussed}}</td>
      <td>{{form.follow_ups}}</td>
      <td hidden>{{form.id}}</td>
    </tr>

    {%endfor%}
  </tbody>
</table>
</div>
    <button type="submit" class="btn btn-primary">Save Notes</button>
</form>
<br>
<br>
{%endblock%}
