{% extends "base.html" %}
{%load static%}
{%load staticfiles%}


{%block tittle_block%}
  <title id="update_appt">Appointments - Stepping Stones</title>
{%endblock%}


{% block body_block%}

<script type="text/javascript" src="{%static 'js/appt.js'%}"></script>
{%load bootstrap%}
<h2>Meeting Booking/Update Page</h2>
 {%if form.instance.pk or client%}
<h4>Client: <a href="{% url 'ss_app:update_client' pk=client.pk %}">  {{client.name}}</h4></a>
<p id='client_key' hidden>{{client.pk}}</p>
{%endif%}
<br>

<form method="POST" id="appt_form" data-slots-url="{% url 'ajax_load_slots'%}" enctype="multipart/form-data">
  {%csrf_token%}
<p>{{form.date|bootstrap}}</p>
<p>{{form.time|bootstrap}}  Original Booking:  {{appt.time.start_time}} with {{appt.time.assigned_to}}, status: {{appt.time.get_available_display}}</p>
<p>{{form.location|bootstrap}}</p>
{{form.comments|bootstrap}}
        <button type="submit" class="btn btn-primary submit">Click to Book</button>

</form>
<br>
{%if form.instance.pk%}
<a href="{% url 'ss_app:delete_appt' pk=form.instance.pk %}"> <button class="btn btn-danger">Click to Delete</button></a>
{%endif%}

<div hidden id="schedule">
  <ul id=holiday_sect>

  {%for day in days%}
    <li> {{day.day}} </li>
  {%endfor%}
</ul>


</div>



{%endblock%}
