{% extends "base.html" %}
{%load static%}



{%block tittle_block%}
  <title>Stepping Stones - About</title>
{%endblock%}

{% block body_block%}



  <div class="row">
    <div class="column" style="background-color:#aaa;">
    <img src="/static/images/steps.jpg" alt=""> </div>
    <div class="column" style="background-color:#aaa;">
    <h4>We have several offerings to help you reach your goals!</h4>

    <ul>
      <li>One to one sessions to help with specific questions or focus areas</li>
      <li>Classes that will bring together a group to cover a series of topics</li>
    </ul>
  </div>
</div>


{%endblock%}
