
hr {
      display: block;
      size: 30px;
      width: 100%;
      background-color: #365d9b;
    }

.appt_form {
  padding-left: 30px;

}
/*
.textarea {
  height: 1%;
  width: 1%;
  }
*/

.data_input input {
  /*margin-left: 9em;*/
  margin-left: 100px;
  width: 50%;

}

.data_input select {
  /*margin-left: 9em;*/
  margin-left: 100px;
  width: 50%;

}

.data_input label {
  position: absolute;
}

.container {
  background-color: #e6e6e6;
}

#map {
  height: 300px;  /* The height is 400 pixels */
  width: 85%;  /* The width is the width of the web page */

}

.row {
  display: flex;
}

.left-col {

  width: 70%;
}


.right-col {

  width: 30%;
}

.help-block {
  color: red;
}
