/*  applies to large screen sizes */

@media (min-width: 500px){


.navbar {
  padding-top: 10px;
  background-color: white;

}

.nav-item  {
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: bold;

}

.navbar-brand {
  padding-top: 0px;
  padding-right: 60px;
  padding-left: 0%;

}

body, html {
  height: 85%;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Lato', sans-serif;


}

html {
  overflow: auto;
}

page {
  padding-left: 10%;
  padding-right: 10%;
}


footer .footer {
  padding-top: 10px;
  background: 		black;
  color: white;
  position: static;
  width: 100%;
  bottom: 0;

}


}

/*  applies to small screen sizes */
@media (max-width: 499px)
{

  body, html {
    height: 85%;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;

  }

  html {
    overflow: auto;
  }

page {
    padding-left: 2%;
    padding-right: 2%;
  }


  footer .footer {
    padding-top: 5px;
    background: 		black;
    color: white;
    position: static;
    width: 100%;
    bottom: 0;

  }



}



/*  applies to all screen sizes */


p {
    font-family: 'Lato', sans-serif;

}


h4 {
    font-family: 'Lato', sans-serif;

}


h5 {
    font-family: 'Lato', sans-serif;

}

h1 {
  font-family: 'Lato', sans-serif;
}

hr {
  display: block;
  border-style: dashed;
  size: 30px;
  width: 100%;
  color: red
  /* background-color: #365d9b; */
}
