<!DOCTYPE html>
{%load staticfiles%}
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href={%static "css/my_style.css" %}>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Bree+Serif|Markazi+Text|Fira+Sans:100|Lato:300,400" rel="stylesheet">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

    <link rel="icon" type="image/png" sizes="16x16" href="{%static '/favicon/favicon-32x32.png'%}">

    <meta name="description" content="Learn how to take your career to the next level.  We offer individual and group sessions to accelerate your development and progress.">
    <meta name="keywords" content="Career Advice Tokyo, Career Counciling Tokyo, Career, Counseling, Advice, development, Tokyo, Stepping Stones, career help, English">
    <meta name="google-site-verification" content="z2ZK5P-T78pz-gKXWJG_D-SY2z1dUxYo1r0bTMqxFRQ" />
    {%block tittle_block%}
    <title>Stepping Stones</title>
    {%endblock%}

  </head>
  <body>
    <div class="page">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'index' %}"> <img src="/static/images/ss_logo.jpg" width="140" height="75" ></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ss_app:team' %}">Our Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ss_app:services' %}">Service Offerings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ss_app:appt' %}">Contact/Appointments</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'ss_app:payment' %}">Payment Information</a>
          </li> -->
          {%if user.is_superuser%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="staff_navbarDropdown" role="button" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Staff Menu</a>
            <div class="dropdown-menu" aria-labelledby="staff_navbarDropdown">
              <a class="nav-link" href="{% url 'ss_app:calendar' %}">Cockpit</a>
              <a class="nav-link" href="{% url 'ss_app:client_list' %}">Client Page</a>
              <a class="nav-link" href="{% url 'ss_app:add_client' %}">Create Client</a>
              <a class="nav-link" href="{% url 'ss_app:package_list' %}">Package List</a>
              <a class="nav-link" href="{% url 'ss_app:invoice_list' %}">Invoice List</a>
              <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
          </li>
          {%endif%}

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ss_app:logout' %}">Logout</a>
          </li>
          {%else%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ss_app:login' %}">Login</a>
          </li>
          {%endif%}


        </ul>

      </div>
    </nav>


          {%block body_block%}


          {%endblock%}

</div>

</body>
<footer>
<div class="footer">
  <script>
    window.onload = function(){
    var date = new Date().getFullYear();
    document.getElementById("year").innerHTML = date;
        }
  </script>

<p><span id="year"></span> Stepping Stones - All Rights Reserved</p>
</div>
</footer>
</html>
