{% extends "base.html" %}
{%load static%}
{% block body_block%}

<link rel="stylesheet" href={%static "css/index.css" %}>


<hr>
  <div class="intro">
    <div class="intro_left">
      <h2>Career Advice and Counseling </h2>

  </div>
    <div class="intro_right">
      <h2>For Students and Professionals</h2>
    </div>

    </div>
    <h4 class="intro">Achieve Success with Professional Guidance</h4>
    <img id=picture src="/static/images/stairs2.jpg" alt="">


  <div class="message">
    <div class="row">

    <div class="left">
      <h2 class="blink_me_left">Our Mission</h2>
      <h5 class="text">Leveraging our fifty plus years of international experience working for multinational companies,
         we strive to help professionals of all levels to become more successful in their careers.
      </h5>


    </div>
    <div class="center">
      <h2 class="blink_me_left">Let Us Help You!</h2>
      <h5 class="text">Every career has its ups and downs.
          Whether you want to build a plan to get to the next level in your career,
           or are looking to overcome a challenging situation or a period of adversity,
           professional experience will help you to reach your goals.</h5>

    </div>
</div>
</br>
</div>



{%endblock%}
